.vibrate {
    animation-name: vibrate;
    animation-duration: 0.25s;
}

@keyframes vibrate {
    0% {
        transform: translateX(-5px);
    }
    
    25% {
        transform: translateX(5px);
    }
    
    50% {
        transform: translateX(-5px);
    }
    
    75% {
        transform: translateX(5px);
    }
    
    100% {
        transform: translateX(-5px);
    }
}